@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500&family=Montserrat:wght@100;200;300;400;500&family=Piedra:wght@400&display=swap');
/*----------------Images*/

.back-image {
     height: 100vh;
  background: url("../images/park2-2.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items:center;
  justify-content:center;
  position: relative;
}


h2 {
    font-family: "Piedra", sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    margin: 1px;
    padding-top: 2rem;
}

#center-about {
    margin: 0 auto;
   
}

#circle-container {
  width: 350px;
  height: 350px;
  padding: 0px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 50%;
  margin: 70px auto;
  
}

#circle-cover-bg{
  background: url("../images/lot-dance.jpg") no-repeat center center;
  height: 100%;
  border-radius: 50%;
  padding: 10px;
  
}
/*--------------Navbar*/

.navbar {
    font-family: "Sora", sans-serif;
    padding: .04rem;
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: capitalize;
    box-shadow: 0 0.5rem .5rem rgba(87, 85, 85, 0.2)
}
.nav-item {
    padding: 1.5rem;
}

nav li a {
    color: rgb(48, 51, 49)
}

nav li a:hover {
    color: white;
}

.navbar-brand img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
/*--------------Main*/

h2 {
    color: #f1f0ef;
}

/*--------------Main*/



/*--------------Footer*/
.footer-all {
    font-family: "Sora", sans-serif;
    padding-right: 1.5rem;
    background-color: rgb(177, 179, 177);
    font-size: 13px;
}

.social-links i {
    font-size: 140%;
    margin: 1%;
    color: #3fb481;
}

.stay-connected{
    margin-left: 1%;
}

.privacy {
   margin-top: 18px;
   padding-right: 1.5rem;
}


.privacy p {
    font-size: 15px;
}

.privacy .copyright {
    font-size: 14px;
}
/*------------/.Footer*/

    @media (min-width:900px) {

 #circle-container {
  width: 475px;
  height: 475px;
  padding: 0px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 50%;
  margin: 70px auto;
}
    }
#circle-cover-bg{
    height: 100%;
}

    footer {
        display: flex;
      
        flex-direction: column;
    }

/*--------------Location*/
.location {
    background-color: rgb(248, 166, 139);
    padding: 2rem;
    margin-top: 3rem;
}

p {
    font-family: "Montserrat", sans-serif;
}
h4 {
    font-family: "Sora", sans-serif;
}

.remove-vh {
    height: 100%;
}
/*--------------/.Location*/
.location-media {
    height: auto;
}

/*--------------Contact*/
input[type="submit" i] {
    color: #3fb481;
}

/*--------------/.Contact*/

/*--------------About Us*/
.about-text {
font-size: 20px;
background-color: rgb(248, 166, 139);
padding: 50px;
margin-top: 25px;
margin-bottom: 50px;
margin-left: 25px;
margin-right: 25px;
}